@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    font-family:'Poppins',sans-serif;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    background: #0b1522;
    align-items: center;
    justify-content: center;
}


.heart {
    margin-top: 100px;
    height: 100px;
    width: 100px;
    background: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 0.6s linear infinite;
}

@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }

    80% {
        transform: rotate(-45deg) scale(1.0);
    }

    100% {
        transform: rotate(-45deg) scale(0.8);
    }
}

.heart:before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #f20044;
}

.heart:after {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
}

span {
    position: absolute;
    pointer-events: none;
    filter: drop-shadow(0 0 15px rgba(0,0,0,0.1));
    animation: fadeInOut 1s linear infinite;
}

@keyframes fadeIn {
    0%,100% {
        opacity: 0;
    }

    20%,80% {
        opacity: 1;
    }
}

span:before {
    content: '';
    position: absolute;
    height: 60%;
    width: 60%;
    background: url(heart.png);
    background-size: cover;
    animation: moveShape 1s linear infinite;
}

@keyframes moveShape {
    0% {
        transform: translate(0) rotate(0deg);
    }

    100% {
        transform: translate(300px) rotate(360deg);
    }
}

.text{
    font-size: 150px;
}
